streamlit==1.28.0
opencv-python==4.8.0.76
dlib==19.24.1
imutils==0.5.4
numpy==1.23.5
scipy==1.10.1
deepface==0.0.79
tensorflow==2.12.0
keras==2.12.0
matplotlib==3.7.1
pandas==2.0.2
streamlit-lottie==0.0.3
protobuf==3.20.3
altair==4.2.0